[submodule "esp32-dev-001"]
	path = esp32-dev-001
	url = git@github.com:binRick/esp32-dev-001.git
[submodule "tls-ca-fetch"]
	path = tls-ca-fetch
	url = git@github.com:binRick/tls-ca-fetch.git
[submodule "proc-trace-exec"]
	path = proc-trace-exec
	url = git@github.com:binRick/proc-trace-exec.git
[submodule "pal"]
	path = pal
	url = git@github.com:binRick/pal.git
[submodule "proc-trace-net"]
	path = proc-trace-net
	url = git@github.com:binRick/proc-trace-net.git
