[submodule "esp32-dev-001"]
	path = esp32-dev-001
	url = git@github.com:binRick/esp32-dev-001.git
[submodule "tls-ca-fetch"]
	path = tls-ca-fetch
	url = git@github.com:binRick/tls-ca-fetch.git
[submodule "proc-trace-exec"]
	path = proc-trace-exec
	url = git@github.com:binRick/proc-trace-exec.git
[submodule "pal"]
	path = pal
	url = git@github.com:binRick/pal.git
[submodule "proc-trace-net"]
	path = proc-trace-net
	url = git@github.com:binRick/proc-trace-net.git
[submodule "proc-trace-dns"]
	path = proc-trace-dns
	url = git@github.com:binRick/proc-trace-dns.git
[submodule "proc-trace-tls"]
	path = proc-trace-tls
	url = git@github.com:binRick/proc-trace-tls.git
[submodule "esp32-s3-lcd"]
	path = esp32-s3-lcd
	url = git@github.com:binRick/ESP32-S3-LCD.git
