[Unit]
Description=Prune unused Docker build cache and dangling images
Wants=docker.service
After=docker.service

[Service]
Type=oneshot
ExecStart=/usr/bin/docker builder prune -af --filter until=24h
ExecStart=/usr/bin/docker image prune -af --filter until=24h
StandardOutput=journal
StandardError=journal
